<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); %>
</head>

<body class="container">

    <header>
        <%- include('nav', {variant: 'compact' }); %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
                    <h1>C'est trop bien !</h1>
                    <p>A propos d'express..</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="well">
                    <h3>SideBar blablabla....</h3>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('footer'); %>
    </footer>

</body>

</html>